@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

body{
    font-family: Briem Hand, monospace;
    background-color: cadetblue;
}
.botao1{
    display: inline-block;
	text-align: center;
	width: 50%;
	vertical-align: top;
	margin: 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
    
}
.botao {
    font-family: Briem Hand, monospace;
    background-color: red;
    padding: 15px;
    margin: 20px;
    font-size: 35px;
    border-radius: 10px;
}
.titulo_botao{
    margin-top: 240px;
    margin-left: 240px;
    font-size: 35px;
}
.botao:hover{
    background-color: green;
    transition: 0.4s;
    color: wheat;
}
a{
    font-size: 45px;
    margin-top: 50px;
    margin-left: 50px;
}
